.Close {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: inherit;
    top: 2px;
    right: 2px;
}
