@mixin defaultToastPack {
    position: absolute;
    min-width: 20%;
    max-width: 20%;
    z-index: 999;
    top: 10px;
    // font-size:1.2vw;
}
.ToastPack {

    &-lt {
        @include defaultToastPack();
        left: 10px; 
    }

    &-rt {
        @include defaultToastPack();
        right: 40px;
    }
}
