$primaryInfoColor: #3E8FAB;
$primarySuccessColor: #7CAE76;
$darkColor: #424242;


@mixin defaultToastElement {
    background-color: #E7A64D;
    color: white;
    min-height: 50px;
    height: auto;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.18);
    transition: all 0.5s ease-out;
    width: 100%;
    padding: 10px;
    margin-bottom: 0.8rem;
    position: relative;
}

.ToastElement{

    &-Element{
        @include defaultToastElement();
    }

    &-info {
        @include defaultToastElement();
        background-color: $primaryInfoColor;
        color: white
    }

    &-success {
        @include defaultToastElement();
        background-color: $primarySuccessColor;
        color: white;
    }

    &-dark {
        @include defaultToastElement();
        background-color: $darkColor;
        color: white;
    }
}

.hide {
    transition: all 0.4s ease-out;
    transform: translateX(-100vw);
}
