$primaryInfoColor: #3E8FAB;
$primarySuccessColor: #7CAE76;
$darkColor: #424242;


@mixin defaultToastElement {
    background-color: #E7A64D;
    color: white;
    min-height: 50px;
    height: auto;
    box-shadow: 3px 4px 14px 0px rgba(0,0,0,0.18);
    transform: translateX(-100vw);
    transition: all 0.7s ease-out;
    padding: 10px;
    margin-bottom: 0.8rem;
    position: relative;
}

@mixin  defaultToastElementRight {
    @include defaultToastElement();
    transform: translateX(100vw);  
}
// default left

.ToastElement{

    &-Element{
        @include defaultToastElement();
    }

    &-info {
        @include defaultToastElement();
        background-color: $primaryInfoColor;
        color: white
    }

    &-success {
        @include defaultToastElement();
        background-color: $primarySuccessColor;
        color: white;
    }

    &-dark {
        @include defaultToastElement();
        background-color: $darkColor;
        color: white;
    }
}

//default right

.ToastElementRight{

    &-Element{
        @include defaultToastElementRight();
    }

    &-info {
        @include defaultToastElementRight();
        background-color: $primaryInfoColor;
        color: white
    }

    &-success {
        @include defaultToastElementRight();
        background-color: $primarySuccessColor;
        color: white;
    }

    &-dark {
        @include defaultToastElementRight();
        background-color: $darkColor;
        color: white;
    }
}

.custom {
    min-height: auto;
    height: auto;
    padding: 0;
    width: auto;
    box-shadow: none;
}

.slideIn {
    transition: all 0.7s ease-out;
    transform: translateX(0vw);
}
